body {
  height: 1000px;
  background-image: radial-gradient(#fee, #055);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputField {
  display: flex;
  flex-direction: column;
}

button {
  background: #1e77e2;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  box-shadow: 5px 5px 15px black;
  outline: none;
  color: whitesmoke;
  font-weight: bold;
  height: 80px;
  width: 250px;
  font-size: 17px;
}

button:hover {
  filter: brightness(1.25);
}

input {
  height: 80px;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}